- var head_menu = ['Новинки','Акции','Оплата','Доставка','О компании']
- var aside_menu = ['Детская одежда','Детская обувь','Игрушки','Коляски','Детские товары','Мамам','Автокресла']
- var aside_menu_icon = ['baby-onesie-with-front-pocket-outline','baby-shoes','bear-toy','baby-transport-side-view','baby-diaper-outline','baby-onesie-outline','baby-chair']
    
- var sub_menu = ['Все категории','Платья ','Комплекты одежды','Верхняя одежда','Нижнее белье','Одежда для сна','Распродажа']
    
- var slide_text = ['В нашем магазине действует акция -30%  <br>  на новую коллекцию. Только до конца апреля. <br> Ждем ваших заказов', 'В нашем магазине действует акция -30%  <br>  на новую коллекцию. Только до конца апреля. <br> Ждем ваших заказов 2', 'В нашем магазине действует акция -30%  <br>  на новую коллекцию. Только до конца апреля. <br> Ждем ваших заказов 3', 'В нашем магазине действует акция -30%  <br>  на новую коллекцию. Только до конца апреля. <br> Ждем ваших заказов 4' ]

mixin dev_head(page_title, index)
    head
        title=page_title
        | 
        | <!-- saved from url=(0014)about:internet -->
        meta(charset='utf-8')
        meta(name='viewport', content="width=device-width, initial-scale=1.0")
        meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="format-detection", content="telephone=no")
        | 
        | <!--build:css css/styles.min.css-->
        link(rel='stylesheet', href='css/main_global.css', media='all')
        | 
        | <!--endbuild-->
        link(href='//fonts.googleapis.com/css?family=Rubik:300,400,500,700', rel='stylesheet', type='text/css')

        | 
        | <!--build:js js/main.min.js -->
        script(src='js/lib/jquery-1.12.1.min.js')
        script(src='js/lib/slick.js')
        script(src='js/lib/select2.js')
        script(src='js/main.js')
        - if (index)
            script(src='js/index.js')
        | 
        | <!--endbuild-->

mixin loop_while(counter)
    -i=0;
    while i < counter
        -i++;
        block

mixin header(active)
    div.header
        a.mob_menu_btn.openMobMenu(href='#')
        a.mob_search_btn(href='#')
            span.i-baby-rattle.aside_m_icon
        .section_inner
            .callback_block
                .callback_inner
                    .callback_time пн-пт: 9:00-22:00
                    .callback_phone.select_box_v1
                        select.select2
                            option (812) 505-10-41
                            option (812) 505-10-42
                            option (812) 505-10-43

mixin footer()
    .footer
        .section_inner
            ul.main_menu.mob_hidden
                for item, i in head_menu
                    li
                        - if (i == active)
                            span.menu_link.menu_active: span=item
                        - else
                            a.menu_link(href='#'): span=item
                    
            ul.footer_info
                li
                    .footer_info_unit
                        dl.contacts_list
                            dt Контактная информация
                            dd (812) 505-10-41  <br> 
                                | email@gmail.com
                                
                        .footer_info_control
                            a.gl_link(href='#') Заказать звонок
                            
                li
                    .footer_info_unit
                        dl.contacts_list
                            dt Режим работы
                            dd Будни с 9:00 до 22:00 <br> 
                                | Выходные с 10:00 до 18:00 <br> 
                                | Доставка с 12:00 до 20:00
                            
                            //-p.fz_13.fw_500
                                a.gl_link(href='#') Посмотреть на карте
                                
                li
                    .footer_info_unit
                        dl.contacts_list
                            dt адрес
                            dd г. Санкт-Петербург, <br> 
                                | ул. Правды, 1, ТЦ «Галерея»
                                
                        .footer_info_control
                            a.gl_link(href='#') Посмотреть на карте
                            
                li
                    .footer_info_unit
                        dl.contacts_list
                            dt Мы в соцсетях
                            dd
                                ul.about_list
                                    li
                                        a.adout_link(href='#')
                                        
                                
                    
            .copyright_block
                .copyright © 2016 Daddy's kid, Все права защищены
                .payments
                    img(src='images/pay_icons.png')
                    

mixin aside_right()
    .aside_right
        ul.user_menu
            li.mob_hidden
                a.user_m_link(href='#')
                    span.user_m_icon.i-baby-abacus-toy
            li
                a.user_m_link(href='#')
                    span.user_m_icon.i-toy-ball
                    span.user_m_counter 23
            li
                a.user_m_link(href='#')
                    span.user_m_icon.i-truck-side-view-outline
                    span.user_m_counter 6
        
mixin aside_left()
    .aside_left
        .aside_menu_holder
            //-ul.aside_menu.search_menu
                li.bdr_mod
                    form.search_block.search_aside.aside_m_link(action='#')
                        .aside_m_text: span
                            input.f_input.input_v1(placeholder='Найти товар')
                        button.search_btn.aside_m_icon.i-baby-rattle

            ul.aside_menu.nav
                li.bdr_mod
                    a.search_block.search_aside.aside_m_link(href='#')
                        span.aside_m_text
                            span Найти товар
                        span.aside_m_icon.i-baby-rattle
                for item, i in aside_menu
                    li(class= i == 0 ? "bdr_mod" : "")
                        a.aside_m_link(href='#')
                            span.aside_m_text: span=item
                            span.submenu_icon
                            span.aside_m_icon(class='i-' + aside_menu_icon[i])
                        +aside_submenu(i)
                    
            ul.aside_menu.contacts
                li.bdr_mod
                    a.aside_m_link(href='#')
                        span.aside_m_text: span Контакты
                        span.submenu_icon
                        span.aside_m_icon(class='i-location')
                    +aside_submenu(7)
                
        ul.main_menu
            for item, i in head_menu
                li
                    - if (i == active)
                        span.menu_link.menu_active: span=item
                    - else
                        a.menu_link(href='#'): span=item
                                
        ul.auth_menu
            li
                a.menu_link(href='#'): span Войти
                
    .logo_block.header_logo: a.logo(href='#')
        img(src='images/logo.svg')

mixin aside_submenu(ind)
    .submenu_holder
        case ind
            when 7
                .submenu_inner
                    .contacts_block
                        .subcaption.fz_18.fw_700.text_upper Контакты
                        .phone.fz_16.fw_500 (812) 505-10-41
                        p.fz_13.fw_500
                            a.gl_link(href='#') Заказать звонок
                        
                        p email@gmail.com
                        
                        dl.contacts_list
                            dt Режим работы
                            dd Будни с 9:00 до 22:00 <br> 
                                | Выходные с 10:00 до 18:00 <br> 
                                | Доставка с 12:00 до 20:00
                            
                            dt адрес
                            dd г. Санкт-Петербург, <br> 
                                | ул. Правды, 1, ТЦ «Галерея»
        
                            p.fz_13.fw_500
                                a.gl_link(href='#') Посмотреть на карте
    
            default
                //-.submenu_caption Подменю #{ind} 
                ul.submenu_list
                    for item, i in sub_menu
                        li
                            a.submenu_link(href='#')
                                span=item
                    
mixin main_slider()
    .main_slider.mainSlider
        +loop_while(4)
            .slide
                img(src='images/slide_1.jpg')
                .slide_description
                    p В нашем магазине действует акция -30% 
                        span.mob_hidden <br> 
                        | на новую коллекцию. Только до конца апреля.
                        span.mob_hidden <br>
                        |  Ждем ваших заказов
            
        .slide_prev.mob_hidden
        .slide_next.mob_hidden
        