include mixins

- var gender = ['Любой', 'Девочки','Мальчики']
- var age = ['Любой', '5','10','15','20','25','30','35','40']
- var sizes = ['Любой', '5','10','15','20','25','30','35','40']
- var colors = ['Любой', 'Оранжевый','Красный','Черный','Белый','Синий']
- var brands = ['Любой', 'Zara','H&M','Okaidi','Puma','Nike','Mothercare','Addidas','Reebok']

doctype html
html(lang='ru')
    +dev_head("Daddy's kid Раздел с товарами", false, false, true)

    body
        .wrapper
            .base
                +header(1)
                
                div.main_content
                    .section_inner
                        +breadcrumbs(['Главная', 'Каталог', 'Детская одежда'])
                        h1.page_title.fw_700
                            span Детская одежда

                        .search_container
                            .search_result_info
                                p У нас вы найдете большой выбор практичной непродуваемой и водонепроницаемой деткой одежды для вашего  <br>  малыша, в которой удобно играть.
                                
                            ul.search_filters
                                li
                                    label.filter_check
                                        input.inp_hidden(type='checkbox')
                                        span.check_btn
                                            span.check_icon.i-baby-wrapped-in-swaddle
                                            span.check_text Верхняя одежда (23)
                                li
                                    label.filter_check
                                        input.inp_hidden(type='checkbox')
                                        span.check_btn
                                            span.check_icon.i-baby-wrapped-in-swaddle
                                            span.check_text Верхняя одежда (23)
                                li
                                    label.filter_check
                                        input.inp_hidden(type='checkbox')
                                        span.check_btn
                                            span.check_text платья (121)
                                li
                                    label.filter_check
                                        input.inp_hidden(type='checkbox')
                                        span.check_btn
                                            span.check_icon.i-baby-wrapped-in-swaddle
                                            span.check_text Верхняя одежда (23)
                                        
                            ul.search_categories
                                li
                                    .dropdown_holder.catParameter
                                        .dropdown_btn.dropdownBtn
                                            .dropdown_reset.catReset
                                            .dropdown_caption Пол
                                            .dropdown_val: span.catVal=gender[0]
                                        +dropdown_w('Пол')
                                            ul.cat_list.catList(data-default=gender[0])
                                                for item, i in gender
                                                    - if (i > 0)
                                                        li
                                                            label.check_emul.check_v1
                                                                input.inp_hidden(type='checkbox')
                                                                span.check_text=item

                                li
                                    .dropdown_holder.catParameter.active
                                        .dropdown_btn.dropdownBtn
                                            .dropdown_reset.catReset
                                            .dropdown_caption ВОзраст
                                            .dropdown_val: span.catVal=age[0]
                                        +dropdown_w('ВОзраст')
                                            ul.cat_list.catList(data-default=age[0])
                                                for item, i in age
                                                    - if (i > 0)
                                                        li
                                                            label.check_emul.check_v1
                                                                input.inp_hidden(type='checkbox')
                                                                span.check_text=item

                                li
                                    .dropdown_holder.catParameter.active
                                        .dropdown_btn.dropdownBtn
                                            .dropdown_reset.catReset
                                            .dropdown_caption Бренд
                                            .dropdown_val: span.catVal=brands[0]
                                        +dropdown_w('Бренд')
                                            ul.cat_list.catList(data-default=brands[0])
                                                for item, i in brands
                                                    - if (i > 0)
                                                        li
                                                            label.check_emul.check_v1
                                                                input.inp_hidden(type='checkbox')
                                                                span.check_text=item

                                li
                                    .dropdown_holder.catParameter
                                        .dropdown_btn.dropdownBtn
                                            .dropdown_reset.catReset
                                            .dropdown_caption Размер
                                            .dropdown_val: span.catVal=sizes[0]
                                        +dropdown_w('Размер')
                                            ul.cat_list.catList(data-default=sizes[0])
                                                for item, i in sizes
                                                    - if (i > 0)
                                                        li
                                                            label.check_emul.check_v1
                                                                input.inp_hidden(type='checkbox')
                                                                span.check_text=item

                                li
                                    .dropdown_holder.catParameter
                                        .dropdown_btn.dropdownBtn
                                            .dropdown_reset.catReset
                                            .dropdown_caption Цена
                                            .dropdown_val: span.catVal От 0 до 14 000 Р
                                        .dropdown_w
                                            .dropdown_caption 
                                                span Цена 
                                                span.rur 7
                                            .cat_list.catList(data-default='Любая')
                                                ul.price_toddler_vals
                                                    li
                                                        .input_w: input#filter_price_min.f_input.input_v4(data-inputmask="'alias': 'decimal', 'groupSeparator': ' ', 'digitsOptional': true, 'autoGroup': true, 'prefix' : 'от ', 'suffix': ' Р' ")
                                                    li
                                                        .input_w: input#filter_price_max.f_input.input_v4(data-inputmask="'alias': 'decimal', 'groupSeparator': ' ', 'digitsOptional': true, 'autoGroup': true, 'prefix' : 'до ', 'suffix': ' Р' ")
                                                
                                                .toddler_v1.price_toddler_holder
                                                    #price_toddler.price_toddler

                                            ul.dropdown_controls.form_cell
                                                li
                                                    a.btn_v1.blue_btn.apply_btn.catApply(href='#') Ok
                                                li
                                                    a.gl_link.catReset.blue_link(href='#') Сбросить

                                li
                                    .dropdown_holder.catParameter.dropdown_w_right
                                        .dropdown_btn.dropdownBtn
                                            .dropdown_reset.catReset
                                            .dropdown_caption Цвет
                                            .dropdown_val: span.catVal=colors[0]
                                        +dropdown_w('Цвет')
                                            ul.cat_list.catList(data-default=colors[0])
                                                for item, i in colors
                                                    - if (i > 0)
                                                        li
                                                            label.check_emul.check_v1
                                                                input.inp_hidden(type='checkbox')
                                                                span.check_text=item

                            ul.search_sort
                                li
                                    label.check_v2.check_emul
                                        input.inp_hidden(type='checkbox')
                                        span.check_text в наличии
                                li
                                    span.fz_12 Сортировать по:
                                    
                                li
                                    a.btn_v2.sort_btn.active(href='#')
                                        span цене
                                        span.i-sort-desc.sort_icon

                                li
                                    a.btn_v2.sort_btn(href='#') скидке
                                    
                                li
                                    a.btn_v2.sort_btn(href='#') популярности
                                    
                                
                                
                                
                            .search_result_info
                                p.cool_text Показано 3 товара
                                        
                            ul.q_search_results
                                +loop_while(4)
                                    li
                                        +product_item(true)
                                    li
                                        +product_item(false)

                            a.btn_v1.load_more_btn.violette_btn(href='#') Смотреть еще 20

                        .catalog_description
                            p Пуфы и кресла не редко играют в тандеме с диванами. Благодаря этому создается гармоничное единство стиля. Но кресло или пуфик также способны стать полноценными интерьерными единицами, не нуждающимися в сопровождении. Кресло – отличное место для чтения, чаепития и отдыха. А компактные пуфики заметно преобразят интерьер.
    
                            p Этот небольшой, но полезный предмет поможет в хранении мелких вещей – некоторые модели располагают небольшим отсеком под сиденьем. Пуф станет незаменимым элементом при составлении комплекта модульного дивана. Эту мебель можно недорого купить в нашем интернет-магазине с доставкой по Москве и Московской области.
                            
            +footer()
            
        +aside_left()
        +aside_right()
        +popups()
        
